<h1>My Bookmarks!</h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %><br>
      URL:   <a href="<%= link.url %>"><%= link.url %></a><br>
      Tags:  <% tags_array = link.tags.map {|tag| tag.name} %>
      <%= "#{tags_array.join(', ')}" %>
      <br><br>
    </li>
  <% end %>
</ul>

<form action='/links/new'>
  <input type='submit' value='Add bookmark!'>
</form>
