Please enter a new password.
<form action="/users" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="token" value="<%=@user.password_token%>">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <br>
  <label for="password-confirmation">Password confirmation: </label>
  <input type="password" name="password_confirmation">
  <br>
  <input type="submit" value="Submit">
</form>
